#EXE_2 .container 
{
    height: 400px;
}

#EXE_2 .container .face
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    transition-duration: 2s;
}

#EXE_2 .container img 
{
    width: 100%;
    height: 100%;
    
    /* background-size: cover; */
    /* background-position: center; */
    /* object-fit: contain; */
    /* background-position: center; */
    /* transition-duration: 2s; */
}

#EXE_2 .container .tail
{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition-duration: 2s;
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden
}


#EXE_2 .container .tail h1
{
    background-color: #2a3f55;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: relative;
    left: 100%;
    z-index: 5
}

#EXE_2 .container .tail > p
{
    width: 90%;
    position: relative;
    left: 100%;
    z-index: 5;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 20px
}

#EXE_2 .container .tail:after
{
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    background-color: #2a3f55b3;
    border-radius: 50%;
    transform: translate(-50%,-50%)
}

#EXE_2 .container .tail h3
{
    position: relative;
    z-index: 5;
    color: #fff;
    background-color: #2a3f55;
    padding: 10px 10px;
    margin: 0 10px ;
    border-radius: 10px;
    transform: scale(0)
}

#EXE_2 .container .tail .skills
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    /* margin: auto; */
    /* position: relative; */
}

#EXE_2 .container .tail .skills .sk 
{
    flex: 0 0 50%;
    margin: 10px 0 ;
    /* transform: scale(0); */
}

#EXE_2 .container .tail .item p
{
    color: #fff;
    transform: scale(0);
    z-index: 5;
    position: relative;
    margin: 10px;
    background-color: #1f2b37;
    border-radius: 15px;
    padding: 10px 0;
}
