#EXE_1 .container:hover img
{
    transform: scale(1.2);
    transition-duration: 2s;
    transition-delay: 2s;
} 

#EXE_1 .container:hover .content
{
    opacity: 1;
    transform: rotate(360deg);
}

#EXE_1 .container:hover .content h2
{
    transition-delay: 4s;
    transition-duration: 2s;
    left: 0;
}

#EXE_1 .container:hover .content p
{
    transition-delay: 5s;
    transition-duration: 2s;
    left: 0;
}

